body{
   background: url('https://i.pinimg.com/originals/34/a6/28/34a628a0a77ec1d3b4e3a4f7f61025b5.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;

}
#drum-machine{
  width:300px;
  background-color: #003366;
  border-style:solid;
  margin-top:5%;

}
#display{
  background-color:#ff6600;
  height:25px;
  width:300px;
  text-align:center;
  color:#e9ec08;
  font-weight: bold;

}
.drum-pad{
  border-radius: 30%;
  background-color:#ffcc66;
  text-align:center;
  color:#003366;
  height:50px;
  margin-right:5px;
  margin-left:5px;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 2px 3px;
}
.drum-pad:hover{
  background-color:#ff6600;
  color:#e9ec08;

}
#pumpkin{
  height:33%;
  width:22%;
  position:relative;
  left:80%;
  margin-top:400px;
}
.drum-pad:active {
  background-color:#ff6600;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color:#e9ec08;
}
